/* for desktop user */

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
  overflow-x: auto;
  overflow-y: auto;
}

.horizontal-scroll {
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.top-scorer, .top-assist {
  background-color: #3498db;
  border-radius: 20px;
  padding: 20px;
  color: white;
  width: 35%;
  text-align: left;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.player {
  display: flex;
  align-items: center;
  padding:10px;
  border: 1px solid black;
  margin-bottom: 10px;
}

.rank {
  font-size: 24px;
  margin-right: 10px;
}

.player-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 10px;
  white-space: nowrap;
}

.player-image {
  width: 40px;
  height: 40px;
  background-color: #3498db;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.player-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name {
  margin-right: 10px;
}

.stats {
  font-size: 14px;
}

.player-details {
  flex-grow: 1;
  text-align: right;
  white-space: nowrap;
}

/* for mobile user */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .top-scorer, .top-assist {
    width: 100%
  }
  .player {
    flex-direction: column;
  }
  .player-image {
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
  }
  .rank, .name, .stats {
    text-align: center;
  }
}
